<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
</head>
<body>
    <h1>Let's play!</h1>
    <p>Now, what is your name, outlander?"</p>
    <p>player_name = input("Please enter your name: ")</p>
    <p>print(f'"Very well, {player_name}, I am thinking of a word, your task is to guess the letters of the word one by one.')</p>
    <p>print('After each failed attempt, I will draw a piece of a \'Hangman\'. Once finished, you lose.')</p>
    <p>print(f'Now, are you up to the challenge, {player_name}?"\n')</p>
</body>
</html>